{% extends 'base.html.twig' %}

{% block title %}Welcome to the blog{% endblock %}

{% block body %}
<h1>Blog</h1>
<ul class="list-group">
    {% for post in post %}
    <li class="list-group-item">
        <p>{{post.title}}</p>
        <small class="text-muted">{{post.author.email}}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}